/* CONTAINER */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4AA4B2
}


.card_edu {
  width: 900px;
  height: 400px;
  background-color: #DBD8C6;
  font-weight: 600;
  font-size: 25px;
  margin: 1rem;
  margin-bottom: 20px;
  flex-basis: 45%;
  padding: 2.6rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.container h1 {
    font-size: 60px;
    font-weight: 600;
    margin-top: -200px;
  }


/* =============================== */
/* EDUCATION */
/* =============================== */

.edu {
  /* border: 4px solid red; */
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.edu p{
  font-size: 20px;
  font-weight: 400;
}
.edu h5 {
  font-size: 15px;
  font-weight: 300;
  margin-left: 186px;
  margin-top: -40px;
}

.edu h6 {
  font-size: 15px;
  font-weight: 300;
  margin-left: 214px;
  margin-top: -40px;
}

.edu h4 {
  font-size: 15px;
  font-weight: 300;
  margin-left: 256px;
  margin-top: -40px;
}

.edu h3 {
  font-size: 15px;
  font-weight: 300;
  margin-left: 244px;
  margin-top: -40px;
}

.edu h2 {
  font-size: 15px;
  font-weight: 300;
  margin-left: 344px;
  margin-top: -40px;
}

/* =============================== */
/* ABOUT */
/* =============================== */
.about_me {
    font-size: 25px;
    font-weight: 200;
}


/* =============================== */
/* PROJECTS */
/* =============================== */


/* =============================== */
/* SKILLS */
/* =============================== */

.pFront1 {
  font-size: 20px;
  font-weight: 400;
  margin-right: 200px;
  margin-bottom: 140px;
  margin-left: 200px;
  text-decoration: underline;
}



.pFront2 {
  font-size: 30px;
  font-weight: 400;
  margin-right: 200px;
  margin-bottom: 140px;
  margin-left: 200px;
  text-decoration: underline;
}


.pFront3 {
  font-size: 30px;
  font-weight: 400;
  margin-right: 200px;
  margin-bottom: 140px;
  margin-left: 200px;
  text-decoration: underline;
}



.contSkills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.card_eduFront {
  min-height: 40vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 00px;
  background-color: #DBD8C6;
  font-weight: 500;
  font-size: 12px;
  margin: 1rem;
  margin-bottom: 20px;
  flex-basis: 45%;
  padding: 2.6rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  transition: color 0.15s ease, border-color 0.15s ease;
  
}



.frontEnd {
  margin-left: -40px;
  margin-top: 0px;
  
}

.frontEnd li {
  list-style-type: none;
}

.backEnd {
  margin-left: -40px;
  margin-top: -60px;
}

.backEnd li {
  list-style-type: none;
}

.otherEnd {
  margin-left: 0px;
  margin-top: -120px;
}

.otherEnd li {
  list-style-type: none;
}

.frontEnd p {
  font-size: 20px;
  /* text-decoration: underline; */
}
.backEnd p {
  font-size: 20px;
  /* text-decoration: underline; */
}
.otherEnd p {
  font-size: 20px;
  /* text-decoration: underline; */
  margin-left: 0px;
}



/* =============================== */
/* EMAIL */
/* =============================== */



.newSection {
  padding-top: 50px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 300;
}



.cform {
  margin-top: 35px;
  padding-bottom: 20px;
  background: #f6f8fa;
}

.form input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  height: 50px;
  width: 100%;
  font-size: 30px;
  outline: none;
  border: 2px solid transparent;
  transition: 0.3s;
  border-radius: 15px;
}

.form textarea {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  font-size: 30px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 15px;
  resize: none;
  transition: 0.3s;
}

.form input:focus,
.form textarea:focus {
  border-color: #4AA4B2;
  border: 4px solid #4AA4B2;
}

.form button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 4px 3px 10px black;
  border-radius: 15px;
  outline: none;
  background: #FF5700;
  color: #FFF;
  cursor: pointer;
  transition: 0.2s;
  font-family: Arial, Helvetica;
}

.form button:active {
  transform: scale(0.95);
}

.form-error {
  border-color: #FF5700 !important;
}