.container {
  height: 930px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4AA4B2
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #4AA4B2; */
}


.footer {
  width: 100%;
  height: 50px;
  border: 3px solid black;
  box-shadow: 1px 1px 10px black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #318997;
  color: black;
  font-size: 11px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #FF5700;
  text-decoration: none;
  font-weight: 200;
}



.title {
  border: 3px solid rgb(85, 85, 85);
  width: 260px;
  height: 183px;
  background-color: #DBD8C6;
  box-shadow: 2px 2px 10px;
  border-radius: 15px;
  padding: 10px;
  margin: 0;
  margin-top: -183px;
  line-height: 1.15;
  font-size: 2.8rem;
  font-weight: 200;
}

.title,
.description {
  text-align: center;
}


.logo {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 5px;
  height: 90px;
  width: 90px;
  margin-right: 1000px;
  margin-top: 20px;
}


.footerLogo {
  border: 2px solid black;
  border-radius: 9px;
  box-shadow: 1px 1px 2px;
  height: 35px;
  width: 35px;
}


.description {
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 300;
  margin-left: 0px;
  color: black;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 700px; */
  /* max-height: 10000px; */
  margin-top: -130px;
}



 .git {
  height: 30px;
  width:  30px;
  margin-left: 350px;
  margin-top: 20px;

}

 
.linkedin {
  /* border: 3px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 10px; */
  height: 30px;
  width:  30px;
  margin-left: 350px;
  margin-top: 20px;
}

.instagram {
  /* border: 3px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 10px; */
  height: 30px;
  width:  30px;
  margin-left: 350px;
  margin-top: 20px;
}

.contato {
  /* border: 3px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 10px; */
  height: 34px;
  width:  34px;
  margin-left: 350px;
  margin-top: 15px;  
}



.card {
  width: 150px;
  height: 200px;
  background-color: #DBD8C6;
  font-weight: 00;
  font-size: 12px;
  margin: 1rem;
  margin-bottom: 20px;
  flex-basis: 45%;
  padding: 1rem 1rem 1rem 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  transition: color 0.15s ease, border-color 0.15s ease;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #a7a09c;
  border-color: black;
  box-shadow: 1px 1px 50px black;
  /* background-color: #858690; */
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px;
}

.card p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  text-align: justify; 
}

.card li {
  font-weight: 500;
  margin-left: 20px;
}

.cardSkill {
  margin-left: 60px;
  margin-top: -15px;
}

.cardSkill p {
  margin-top: -0px;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



